[user]
	name = skyline75489
	email = skyline75489@outlook.com
[color]
	status = true
	diff = true
	branch = true
	interactive = true
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = bc3
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
