[user]
	name = skyline75489
	email = skyline75489@outlook.com
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = bc3
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
